<li><%= link_to subscription.short_name, nonprofit_subscription_path(subscription.nonprofit, subscription) %>
  <%= subscription.amount %>
  <%= subscription.interval %>
  <%= subscription.long_name %>
</li>
